<div class="container">
    @for (route of routesApi; track $index) {
        <div class="case" id="{{route.id}}" (click)="openModal(route)"></div> 
    }
        <app-modal
        [isOpen]="showModal"
        title="Mon dialogue"
        [selectedRoute]="selectedRoute"
        (closed)="onModalClosed()"
        >
            <app-select [dataSend]="selectedRoute?.res"></app-select>
            <p>Contenu personnalisé à l’intérieur de la modal.</p>
            <button (click)="onModalClosed()">Fermer</button>
        </app-modal>
  
</div>
