@if (isOpen) {
  <div class="backdrop" (click)="close()">
    <div class="modal" (click)="$event.stopPropagation()">
      <header>
        <h2>{{ selectedRoute?.id}}</h2>
        <button class="close-btn" (click)="close()">×</button>
      </header>
      <section class="content">
        <app-select
        [dataSend]="selectedRoute?.res"
        (categoriesPayload)="onCategories($event)"
        ></app-select>

       <!-- ici tu peux afficher la race remontée si tu veux en preview -->
        <pre *ngIf="false">{{ categoriesSelected }}</pre>
      </section>
    </div>
  </div>
}